{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ApoioOnco</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <main>
        <div class="banner-login" aria-hidden="true">
            <h2>Juntos, ampliamos o acesso ao apoio.</h2>
            <img src="{% static 'img/Login-pana.png' %}" alt="Figura Login Apoio Onco">
        </div>
        <div class="corpo-login-form">
         <img src="{% static 'img/logo-inteira.png' %}" alt="Logo">
         <h1>Bem vindo de volta</h1>
        <p class="subtitulo">Acesse sua conta para gerenciar as informações da sua instituição.</p>

        <form action="" method="POST">
            <div class="formulario-login">
                <label for="identificacao">E-mail ou CNPJ</label>
                <input type="text" id="identificacao" name="identificacao" required>
            </div>
            <div class="formulario-login">
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" required>
            </div>
            <button type="submit">Entrar</button>
        </form>
        <p class="signup-text">
      Ainda não possui conta? <a href="{% url 'cadastro' %}">cadastre-se aqui</a>
        </p>
        </div>
    </main>

</body>
</html>